# PyCity Schools Analysis

- Your analysis here

---

In [502]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [503]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [504]:
# Calculate the total number of students
student_count = len(school_data_complete["student_name"])
student_count

39170

In [505]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [506]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [507]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [508]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [509]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [510]:
# Create a high-level snapshot of the district's key metrics in a DataFrame

district_summary = pd.DataFrame()
district_summary["Unique Schools"] = school_data["school_name"].unique()
district_summary["Total Students"] = school_data["size"]
district_summary["Total Budget"] = school_data["budget"]

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

           Unique Schools Total Students   Total Budget
0       Huang High School          2,917  $1,910,635.00
1    Figueroa High School          2,949  $1,884,411.00
2     Shelton High School          1,761  $1,056,600.00
3   Hernandez High School          4,635  $3,022,020.00
4     Griffin High School          1,468    $917,500.00
5      Wilson High School          2,283  $1,319,574.00
6     Cabrera High School          1,858  $1,081,356.00
7      Bailey High School          4,976  $3,124,928.00
8      Holden High School            427    $248,087.00
9        Pena High School            962    $585,858.00
10     Wright High School          1,800  $1,049,400.00
11  Rodriguez High School          3,999  $2,547,363.00
12    Johnson High School          4,761  $3,094,650.00
13       Ford High School          2,739  $1,763,916.00
14     Thomas High School          1,635  $1,043,130.00

## School Summary

In [512]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [513]:
# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [514]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_capita = school_data.set_index(["school_name"])["budget"] / school_data.set_index(["school_name"])["size"]

per_school_budget
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [515]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

per_school_math
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [516]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[school_data_complete["math_score"] > 70]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()

school_students_passing_math

school_name
Bailey High School       3216
Cabrera High School      1664
Figueroa High School     1880
Ford High School         1801
Griffin High School      1317
Hernandez High School    3001
Holden High School        387
Huang High School        1847
Johnson High School      3040
Pena High School          882
Rodriguez High School    2562
Shelton High School      1583
Thomas High School       1475
Wilson High School       2076
Wright High School       1625
dtype: int64

In [517]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[school_data_complete["reading_score"] > 70]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()

school_students_passing_reading

school_name
Bailey High School       3946
Cabrera High School      1744
Figueroa High School     2313
Ford High School         2123
Griffin High School      1371
Hernandez High School    3624
Holden High School        396
Huang High School        2299
Johnson High School      3727
Pena High School          887
Rodriguez High School    3109
Shelton High School      1631
Thomas High School       1519
Wilson High School       2129
Wright High School       1682
dtype: int64

In [518]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [519]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [520]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame()
per_school_summary["School Type"] = school_types
per_school_summary["School Size"] = per_school_counts
per_school_summary["Total School Budget"] = per_school_budget
per_school_summary["Per Student Budget"] = per_school_capita
per_school_summary["Average Math Score"] = per_school_math
per_school_summary["Average Reading Score"] = per_school_reading
per_school_summary["% Passing Math"] = per_school_passing_math
per_school_summary["% Passing Reading"] = per_school_passing_reading
per_school_summary["% Overall Passing"] = overall_passing_rate


# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,School Size,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,63.318478,78.813850,53.513884
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,63.750424,78.433367,53.204476
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,89.892107,92.617831,89.892107
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,64.746494,78.187702,53.527508
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,89.713896,93.392371,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,90.932983,93.254490,90.582567
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,89.558665,93.864370,91.334769
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,64.630225,79.300643,54.642283
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,90.632319,92.740047,89.227166
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,91.683992,92.203742,90.540541
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,90.277778,93.444444,90.333333
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,64.066017,77.744436,52.988247
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,63.852132,78.281874,53.539172
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,65.753925,77.510040,54.289887
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,90.214067,92.905199,90.948012

## Highest-Performing Schools (by % Overall Passing)

In [522]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by=["% Overall Passing"], ascending = False)
top_schools.head(5)

,School Type,School Size,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,89.558665,93.864370,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,90.214067,92.905199,90.948012
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,89.713896,93.392371,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,90.932983,93.254490,90.582567
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,91.683992,92.203742,90.540541

In [523]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by=["% Overall Passing"])
bottom_schools.head(5)

,School Type,School Size,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,64.066017,77.744436,52.988247
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,63.750424,78.433367,53.204476
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,63.318478,78.813850,53.513884
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,64.746494,78.187702,53.527508
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,63.852132,78.281874,53.539172

## Math Scores by Grade

In [525]:
### Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame()
math_scores_by_grade["9th"] = ninth_grade_math_scores
math_scores_by_grade["10th"] = tenth_grader_math_scores
math_scores_by_grade["11th"] = eleventh_grader_math_scores
math_scores_by_grade["12th"] = twelfth_grader_math_scores

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [527]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame()
reading_scores_by_grade["9th"] = ninth_grade_reading_scores
reading_scores_by_grade["10th"] = tenth_grader_reading_scores
reading_scores_by_grade["11th"] = eleventh_grader_reading_scores
reading_scores_by_grade["12th"] = twelfth_grader_reading_scores

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [529]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [530]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()
school_spending_df

,School Type,School Size,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,63.318478,78.813850,53.513884
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,63.750424,78.433367,53.204476
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,89.892107,92.617831,89.892107
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,64.746494,78.187702,53.527508
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,89.713896,93.392371,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,90.932983,93.254490,90.582567
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,89.558665,93.864370,91.334769
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,64.630225,79.300643,54.642283
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,90.632319,92.740047,89.227166
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,91.683992,92.203742,90.540541
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,90.277778,93.444444,90.333333
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,64.066017,77.744436,52.988247
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,63.852132,78.281874,53.539172
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,65.753925,77.510040,54.289887
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,90.214067,92.905199,90.948012

In [531]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins = spending_bins, labels = labels)

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
school_spending_df

,School Type,School Size,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,63.318478,78.813850,53.513884,$645-680
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,63.750424,78.433367,53.204476,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,89.892107,92.617831,89.892107,$585-630
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,64.746494,78.187702,53.527508,$645-680
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,89.713896,93.392371,90.599455,$585-630
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,90.932983,93.254490,90.582567,<$585
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,89.558665,93.864370,91.334769,<$585
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,64.630225,79.300643,54.642283,$585-630
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,90.632319,92.740047,89.227166,<$585
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,91.683992,92.203742,90.540541,$585-630
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,90.277778,93.444444,90.333333,<$585
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,64.066017,77.744436,52.988247,$630-645
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,63.852132,78.281874,53.539172,$645-680
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,65.753925,77.510040,54.289887,$630-645
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,90.214067,92.905199,90.948012,$630-645

In [532]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [533]:
# Assemble into DataFrame
spending_summary = pd.DataFrame()
spending_summary[""] = spending_math_scores
spending_summary[""] = spending_reading_scores
spending_summary[""] = spending_passing_math
spending_summary[""] = spending_passing_reading
spending_summary[""] = overall_passing_spending

# Display results
spending_summary

Spending Ranges (Per Student)
$585-630                       81.418596
$630-645                       62.857656
$645-680                       53.526855
<$585                          90.369459

## Scores by School Size

In [535]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [536]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()
school_size_df

,School Type,School Size,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,63.318478,78.813850,53.513884
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,63.750424,78.433367,53.204476
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,89.892107,92.617831,89.892107
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,64.746494,78.187702,53.527508
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,89.713896,93.392371,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,90.932983,93.254490,90.582567
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,89.558665,93.864370,91.334769
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,64.630225,79.300643,54.642283
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,90.632319,92.740047,89.227166
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,91.683992,92.203742,90.540541
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,90.277778,93.444444,90.333333
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,64.066017,77.744436,52.988247
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,63.852132,78.281874,53.539172
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,65.753925,77.510040,54.289887
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,90.214067,92.905199,90.948012

In [537]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_df["School Size"] = pd.cut(school_spending_df["School Size"], bins = size_bins, labels = labels)

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
school_size_df

,School Type,School Size,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Huang High School,District,Large (2000-5000),"$1,910,635.00",655.0,76.629414,81.182722,63.318478,78.813850,53.513884
Figueroa High School,District,Large (2000-5000),"$1,884,411.00",639.0,76.711767,81.158020,63.750424,78.433367,53.204476
Shelton High School,Charter,Medium (1000-2000),"$1,056,600.00",600.0,83.359455,83.725724,89.892107,92.617831,89.892107
Hernandez High School,District,Large (2000-5000),"$3,022,020.00",652.0,77.289752,80.934412,64.746494,78.187702,53.527508
Griffin High School,Charter,Medium (1000-2000),"$917,500.00",625.0,83.351499,83.816757,89.713896,93.392371,90.599455
Wilson High School,Charter,Large (2000-5000),"$1,319,574.00",578.0,83.274201,83.989488,90.932983,93.254490,90.582567
Cabrera High School,Charter,Medium (1000-2000),"$1,081,356.00",582.0,83.061895,83.975780,89.558665,93.864370,91.334769
Bailey High School,District,Large (2000-5000),"$3,124,928.00",628.0,77.048432,81.033963,64.630225,79.300643,54.642283
Holden High School,Charter,Small (<1000),"$248,087.00",581.0,83.803279,83.814988,90.632319,92.740047,89.227166
Pena High School,Charter,Small (<1000),"$585,858.00",609.0,83.839917,84.044699,91.683992,92.203742,90.540541
Wright High School,Charter,Medium (1000-2000),"$1,049,400.00",583.0,83.682222,83.955000,90.277778,93.444444,90.333333
Rodriguez High School,District,Large (2000-5000),"$2,547,363.00",637.0,76.842711,80.744686,64.066017,77.744436,52.988247
Johnson High School,District,Large (2000-5000),"$3,094,650.00",650.0,77.072464,80.966394,63.852132,78.281874,53.539172
Ford High School,District,Large (2000-5000),"$1,763,916.00",644.0,77.102592,80.746258,65.753925,77.510040,54.289887
Thomas High School,Charter,Medium (1000-2000),"$1,043,130.00",638.0,83.418349,83.848930,90.214067,92.905199,90.948012

In [538]:
# Calculate averages for the desired columns.
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

In [539]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame()
size_summary["Math Scores By Size"] = size_math_scores
size_summary["Reading Scores By Size"] = size_reading_scores
size_summary["Percent Passing Math By Size"] = size_passing_math
size_summary["Percent Passing Reading By Size"] = size_passing_reading
size_summary["Percent Passing Overall By Size"] = size_overall_passing

# Display results
size_summary

,Math Scores By Size,Reading Scores By Size,Percent Passing Math By Size,Percent Passing Reading By Size,Percent Passing Overall By Size
School Size,,,,,
Large (2000-5000),77.746417,81.344493,67.631335,80.190800,58.286003
Medium (1000-2000),83.374684,83.864438,89.931303,93.244843,90.621535
Small (<1000),83.821598,83.929843,91.158155,92.471895,89.883853

## Scores by School Type

In [541]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [542]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame()
type_summary["Average Math Score By Type"] = average_math_score_by_type
type_summary["Average Reading Score By Type"] = average_reading_score_by_type
type_summary["Average Percent Passing Math By Type"] = average_percent_passing_math_by_type
type_summary["Average Percent Passing Reading By Type"] = average_percent_passing_reading_by_type
type_summary["Average Percent Overall Passing By Type"] = average_percent_overall_passing_by_type

# Display results
type_summary

,Average Math Score By Type,Average Reading Score By Type,Average Percent Passing Math By Type,Average Percent Passing Reading By Type,Average Percent Overall Passing By Type
School Type,,,,,
Charter,83.473852,83.896421,90.363226,93.052812,90.432244
District,76.956733,80.966636,64.302528,78.324559,53.672208

# Analysis
In this code, I used various tool from the Pandas python library in order to analyze a dataset of school data and student test scores. I used different methods like pd.read_csv, pd.Dataframe(), pd.cut, and others to manipulate the data to gain some insights. I created many different dataframes to get insight into different aspect of the data. Here are two insights that I found notable from my analysis:

- In the Type Summary data frame, we can see that Charter type school students tend to score higher in both math and reading, as well as passing overall. This could suggest that students see a benefit in academic acheivement in Charter schools compared to Disctrict schools.
- In the Size Summary data frame, we see that Small and Medium Size schools tend to have higher average scores and a higher rate of passing overall. THis sug